<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>サイコロゲーム</title>
</head>
<body>
  <h1>サイコロゲーム</h1>
    <p>あなたの予想: <%= guess %></p>
    <p>サイコロの出目: <%= diceRoll %></p>
    <p>結果: <%= result %></p>
    <hr>
  <form action="/roll" method="get">
    <label>1から6までの数字を予想してください:</label>
    <input type="number" name="guess" min="1" max="6" required>
    <button type="submit">予想する</button>
  </form>
  
    
  
</body>
</html>




